@page
@model Web1.Pages.BootstrapModel
@{
}

<div class="container-fluid bg-danger">
    <div class="row">
        <div class="col text-center">A</div>
        <div class="col">B</div>
        <div class="col text-end">C</div>
    </div>
</div>


<div class="container">

    <div class="row">
        <div class="col colLine">
            <div class="alert alert-success">
                <strong>Success!</strong> Indicates a successful or positive action.
            </div>
        </div>

        <div class="col colLine">
            <div class="alert alert-danger">
                <strong>Danger!</strong> Indicates a successful or positive action.
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col colLine">
            <h3 class="text-primary">BootStrap</h3><br />
            <span class="bg-danger">홍길동</span>은 조선시대 <span class="bg-danger">허균</span>이 작성한 한글소설이다.
        </div>
    </div>


    <div class="row">
        <div class="col colLine bg-danger">col</div>
        <div class="col colLine bg-success">col</div>
        <div class="col-2 colLine bg-warning">col</div>
        <div class="col-2 colLine bg-secondary">col</div>
    </div>

    <div class="row">
        <div class="col colLine">col</div>
        <div class="col colLine">col</div>
        <div class="col-2 colLine">col</div>
        <div class="col-2 colLine">col</div>
    </div>
</div>