@page
@model IndexModel
@{
    ViewData["Title"] = "UIPA ASP.NET";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="test">Hello ASP.NET World @DateTime.Now </p>
</div>
