@page
@model Web1.Pages.Test01Model
@{

}
<div class="container">
    <div class="row">
        <div class="col colLine">
            <h3 class="text-primary">ASP.NET Razor</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-2 colLine">
            시간
        </div>
        <div class="col colLine">
            @DateTime.Now <br />
            @DateTime.Today
        </div>
    </div>
</div>
